$mobile-width: 500px;
$tablet-width: 750px;
$desktop-width: 100vw;
$colores:(
    rojo: #ec1c24,
    bordo: #99090D,
    azul: #002554,
    gris: #cecdbf,
    blanco: #FFF,
    negro: #000
);
$font-main: 'Montserrat', sans-serif;
$fuentes:(
    thin: 100,
    extra-light: 200,
    light: 300,
    regular: 400,
    medium: 500,
    semi-bold: 600,
    bold: 700,
    extra-bold: 800,
    black: 900
);
$PD50: 50px;
$PD15: 15px;
$align-center: center;